<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Information</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="landscape" src="/img/wind-direction.jpeg">
        <p id="message-3">This image was taken from google!</p>
    </div>

    {{>footer}}
</body>

</html>